.container {
    background-color: rgb(0, 0, 0);
    margin: auto;
    height: 40em;
    width: 25em;
    margin-top: 40px;
    border-radius: 3em;
    /* box-shadow: #003849 2px 2px 2px 2px; */
    backdrop-filter: blur(5px);
}

body {
    background-image: radial-gradient(circle, #ffffff, #e0def0, #bfbfe1, #9ca1d2, #7585c4, #5774b1, #36649d, #005489, #004769, #003849, #00282d, #071817);
    font-family: 'Quicksand', sans-serif;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode {
    display: grid;
    justify-content: center;
    margin-top: 10%;
    /* border: 2px solid white; */
}

.dispbox {
    width: 24em;
    /* border: 2px solid white; */
    height: 10em;
    /* margin-top: 50px; */
    /* font-size: 100px; */
    padding: 0px 0px 0px 0px;
    display: grid;
    justify-content: end;
}

.disptext {
    color: white;
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none;
    max-width: 355px;
    display: flex;
    align-items:flex-end ;
    justify-content: flex-end;
    overflow-x: scroll;
    overflow: hidden;
}

.inpbox {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 30em;
    height: 27.5em;
}

button {
    height: 70px;
    width: 70px;
    margin: auto;
    border-radius: 5em;
    outline: none;
    background-color: rgb(239, 239, 30);
    border: 0px solid transparent;
    margin-left: 13px;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    transition: all 200ms ease;
}

button:active{
    transform: scale(0.9);
    background-color:rgb(185, 185, 25);
    transition: 50ms;
    color: rgb(255, 255, 255);
}
.equals{
    height: 160px;
}