body {
    background-image: url(./pexels-miguel-á-padriñán-255379.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200dvh;
    
}

.container {
    height: 500px;
    width: 500px;
    background-color: aqua;
    margin: auto;
    border-radius: 10%;
    position: relative;
    background: rgba(255, 255, 255, 0.38);
    box-shadow: 0px 0px 58px 10px #6d5f5f;
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    margin-top: 100px;
}

.hour {
    position: absolute;
    top: 37%;
    left: 50%;
    transform-origin: bottom center;
    width: 15px;
    height: 150px;
    background-color: black;
    animation: rotate2 5s infinite linear;
    border-radius: 50px;
    box-shadow: 0px 0px 58px 10px #6d5f5f;
}

.min {
    position: absolute;
    top: 32%;
    left: 50%;
    transform-origin: bottom center;
    width: 10px;
    height: 200px;
    border-radius: 50px;
    background-color: red;
    animation: rotate 4s infinite linear;
    box-shadow: 0px 0px 70px 10px #6d5f5f;
}

.sec {
    height: 200px;
    width: 3px;
    transform-origin: bottom center;
    background-color: rgb(93, 101, 207);
    position: absolute;
    left: 50.2%;
    top: 32%;
    border-radius: 50px;
    animation: rotate3 3s infinite linear;
    box-shadow: 0px 0px 80px 10px #6d5f5f;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(93, 101, 207);
    position: absolute;
    left: 48.2%;
    top: 50%;
    border-radius: 50px;
}

.black {
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

span>div:nth-child(1) {
    position: absolute;
    left: 48%;
    top: 0%;
}
span>div:nth-child(2){
    position: absolute;
    right: 0%;
    top: 50%;
}
span>div:nth-child(3){
    position: absolute;
    left: 48%;
    bottom: 0%;
}
span>div:nth-child(4){
    position: absolute;
    left: 0%;
    top: 50%;
}