.main {
    border-radius: 4em 4em;
    margin: auto;
    margin-top: 1.3%;
    width: 50%;
    height: 97vh;
    background-color: rgb(134, 178, 217);
}
.btn2{
    height: 7.2em;
    border: 0px solid transparent;
    background-color: red;
}
.inpclass {
    height: 15vh;
    /* margin-top: 10px; */
    flex-wrap: nowrap;
}

.inputsection {

    height: 100%;
    width: 79%;
    margin: 0%;
    border: 0px;
    font-stretch: ultra-expanded;
    border-radius: 1em 0em 0em 1em;
    font-size: 4em;
    text-indent: 40px;
}

.inputsection:focus,
.btn:focus {
    outline: none;
    /*outline of the html element on focus is removed*/
}

.btn {
    height: 102%;
    width: 20.6%;
    margin-left: 0%;
    border-radius: 0em 1em 1em 0em;
    border: 0px;
    margin-left: -6.5px;
    font-size: 4em;
}

li {
    background-color: rgb(151, 225, 86);
    margin: auto;
    margin-left: -40px;
    text-indent: 40px;
    height: 100px;
    line-height: 6em;
    text-transform: uppercase;
    border-radius: 4em 4em;
    /* font-size: 2em; */
    flex-wrap: wrap;
    overflow-y: auto;
}
.inputsection::placeholder{
    color: rgb(187, 191, 196);
}
ul{
    margin: 0px;
    flex-wrap: wrap;
}
/* .unordered{
    height: 50em;
    flex-wrap: wrap;
    flex-direction: column;
} */

