:root {
    --color1: rgba(77, 159, 104, 1);
    --color2: rgba(131, 134, 131, 1);
    --color3: rgba(5, 136, 162, 1);
    --color4: rgba(4, 99, 119, 1);
}

body {
    background-color: rgb(9, 18, 28);
    font-family: 'Alkatra', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Varela Round', sans-serif;
    /* display: flex; */
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: inline-block;
    background-color: transparent;
    display: grid;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    background: transparent;
}

.top-name {
    position: sticky;
    right: 85%;
    user-select: none;
    color: rgb(187, 223, 255);
    transition: 200ms ease-in-out;
    margin-top: 30px;
    user-select: none;
}

.top-name:hover {
    transform: rotate(5deg);
    transition: 200ms ease;
    color: rgb(199, 199, 166);
}


.links {
    color: rgb(187, 223, 255);
    text-decoration: none;
    margin-right: 60px;
}


h2>.frontend-style {
    animation: myanime 3s linear infinite;
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 27%, var(--color3) 69%, var(--color4) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    user-select: none;
}

.btns {
    background-color: transparent;
    border: 3px solid blueviolet;
    width: 200px;
    height: 70px;
    text-decoration: none;
    cursor: grabbing;
    border-radius: 3em;
}

.btns:hover {
    border: 1px solid blueviolet;
    content: "";
    left: 0;
    top: 0;
    width: 200px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
    background: #3498dd;
    background-position: left bottom;
    color: black;
    background: linear-gradient(to right,rgb(9, 18, 28)20%, rgb(233, 14, 233)50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    box-shadow: 1px 1px 20px 1px rgb(53, 71, 204);
}
.btns:focus{
    background-color: black;
}

@keyframes myanime {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

p {
    width: 600px;
    text-align: justify;
}

p,
h1,
h2 {
    color: aliceblue;
    user-select: none;
}

.big-img {
    /* filter: blur(1px); */
    background-blend-mode:darken;
    margin-left: 40%;
    margin-top: -10%;
    transition: 500ms ease-in-out;
}
.big-img:hover{
    filter: drop-shadow(0 0 0.75rem rgb(35, 69, 108));
    transition: 500ms ease;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 10%;
    margin-left: 10%;
}

.one {
    margin-left: 50px;
}

