div {
    margin-top: 20px;

}

.container {
    /* margin-top: 100%; */
    height: 90vh;
    width: 50vw;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 1em;
    border: 4px solid rgb(255, 255, 255);
}

.first,
.last,
.even,
.odd,
.second,
.second_last {
    width: 45vw;
    height: 12vh;
    margin: auto;
    color: white;
    border-radius: 1em;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    flex-wrap: nowrap;
}

body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.tagline {
    color: white;
    text-align: center;
    display: grid;
    align-content: center;
    margin-left: 5%;
    border: 0px solid transparent;
}

h1 {
    font-size: 50px;
    user-select: none;
    transition-duration: 50ms;
    transition-delay: 0ms;
}

h1:hover {
    text-shadow: -1px -1px 32px rgba(162, 253, 0, 0.98);
    /* text-shadow: -1px 6px 9px rgba(141,174,85,0.69); */
    transition-delay: 0ms;
}

.circle {
    /* border: 2px solid white; */
    width: 70%;
    height: 5em;
    margin-left: 15%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
    margin-top: 2px;
}

.circlein {
    border: 2px solid white;
    border-radius: 5em;
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin: auto;
    text-align: center;
}
.nums{
    font-size:x-large;
    text-align: center;
    margin-top: 13px;
    user-select: none;
}
p{
    user-select: none;
}
.first:hover .nums1.nums6{
    background-color: yellow;
}