p{
	height: 50px;
	width: 50px;
	border: 2px solid green;
	display: grid;
	align-items: center;
	align-content: center;
	align-content: center;
}

.container{
	display: grid;
	justify-content: center;
	align-items: center;
}