.container{
    background-color: rgb(22, 20, 20);
    color: rgb(215, 223, 231);
    font-family: montserrat;
}

.edge{
    width: 100px;
    /* height: 1000px; */
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    flex-wrap: wrap;
    flex-direction: row;

}
.photo img{
    height: 650px;
    width: 450px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 17px -3px rgba(247,237,247,1);
-moz-box-shadow: 1px 1px 17px -3px rgba(247,237,247,1);
box-shadow: 1px 1px 17px -3px rgba(247,237,247,1);
float: left;
margin-left: 100px;
margin-top: 50px;
}
.details{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}
