.login,
.register {
    width: 30%;
    height: 70%;
    margin: auto;
    background-color: rgb(215, 222, 229);
    border: 0px;
    font-weight: 500;
}
.btn-primary{
    border: 0px;
    margin-top: 2em;
    width: 100px;
    /* height: 50px; */
}
.box {
    /* border: 2px solid rgb(176, 62, 62); */
    display: flex;
    height: 400px;
    width: 100%;
    margin-top: 100px;

}

.login:hover,
.register:hover {
    background-color: rgb(44, 132, 210);
    transition: 250ms;
    color: rgb(255, 255, 255);
    box-shadow: -webkit-box-shadow: 0px 0px 10px 6px rgba(194, 169, 194, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(194, 169, 194, 1);
    box-shadow: 0px 0px 10px 6px rgba(194, 169, 194, 1);
    ;
}

.card-title,.card-text{
    margin-top: 10%;
}
.loginPg{
    border: 2px solid black;
}